.hamburger {
  position: fixed;
  top: 15% ;
  left: 10px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 4;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.hamburger:active {
  transform: scale(0.95);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 220px 21px 50px 20px;
  background-color: #f0f0f0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, left 0.3s ease-in-out;
  z-index: 3;
}

.dashboard-container.open {
  transform: translateX(0);
}

.dashboard-container button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.dashboard-container button:hover {
  background-color: #0056b3;
}
