*{
    padding: 0;
    margin: 0;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    flex-wrap: wrap; 
    justify-content: left;
    margin-top: 20px;
    width: 100px;
}

